.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    label {
    width: 500px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      color: #555;
  
      input {
        margin-top: 5px;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }
    }
    .bt{
          padding: 10px 15px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          align-self: flex-start;
          margin: 0 auto;
          &:hover {
            background-color: #0056b3;
          }

      }
  }
