.chat-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  background-color: #fff;
  width: 1200px;
  height: 208px;
}

.user-info {
  display: flex;
  align-items: center;
}

.statusOnlineOfline {
  color: black;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-right: 2px solid #394867;

}

.statusOnlineOfline img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-status {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: flex-start;
}

.send-message {
  width: 164px;
  height: 44px;
  padding: 10px 20px;
  background-color: #394867;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-message:hover {
  background-color: #0056b3;
}

.comments {
  width: 900px;
  height: auto;
  padding: 10px; 
  margin-bottom: 100px;
  margin-left: 20px;
  font-size: 26px;
  font-weight: bold;
  color: black;
  border: none;
}

.otherCar {
  display: grid;
  grid-template-columns: repeat(3, auto); 
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
}