.itemBlockDisplay {
  width: 500px;
  height: 600px;
  border-radius: 20px;
  background-color: #394867;
  box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, 0.25);
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.itemBlockPhoto {
  width: 400px;
  height: 170px;
  border-radius: 20px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.itemBlockTitle  {
  text-align: center;
  font-size: 26px;
}

.itemBlockInfo {
  margin-top: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemBlockInfo p {
  color: white;
}

.horizontalLine {
  width: 400px;
  height: 1px;
  background-color: white;
  margin-top: 5px;
}

.btnOrder {
  width: 270px;
  height: 69px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;
}

