/* Normalize */
* {
padding: 0;
margin: 0;
list-style: none;
outline: none;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: #000;
}

h1 {
    font-size: 48px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}

a {
    text-decoration: none;
}