.root {
	width: 1690px;
	height: 256px;
	background-color: #394867;
	margin: 0 auto;
	border-radius: 20px;
	display: flex;
}

.avatarAcc {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	align-items: center;
	margin: 30px;
	img {
		margin-top: 40px;
		object-fit: cover;
		align-items: center;
		margin: 25px auto;
		justify-content: center;
		display: flex;
	}
		button{
		font-size: 20px;
		font-weight: bold;
		border-radius: 20px;
		width: 100px;
		height: auto;
	}
}



.infoUser {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	p {
		width: 100%;
		font-size: 24px;
		color: white;
    margin-top: 13px;
	}
}

.soldInfo{
  width: 100%;
  margin: 40px 0;
  p{
    width: 100%;
		font-size: 24px;
		color: white;
    margin-top: 13px;
  }
}

.btn{
  display: flex;
  margin-top: 145px;
  button{
    width: 70px;
    height: 70px;
    margin: 20px;
    border-radius: 20px;
    font-size: 10px;
  }
}